<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layouts/main-layout">
    <head th:insert="01-fragment-head.html"></head>
    <body>
        <header th:insert="02-fragment-header.html" style="background-color: var(--headerBackground);"></header>
        <main>
            <div layout:fragment="mainContent">
                <table class = 'table'>
                    <thead>
                        <tr>
                            <th>NAME</th>
                            <th>IMAGE</th>
                            <th>RECIPE</th>
                            <th></th>
                        </tr>
                        <tbody>
                            <tr th:each="c: ${coffee}">
                                <td th:text="${c.name}"></td>
                                <td>
                                    <img th:src="@{${c.image}}" 
                                    width= "200px">
                                </td>
                                <td th:text="${c.recipe}"></td>
                                <td>
                                    <form th:action="@{'/app/add-order}" method="post">
                                        <input type="hidden" name="coffee_id" th:value="${c.id}">
                                        <button type="submit">ORDER</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </thead>
                </table>
                <button type="button" class="btn btn-primary" 
                    data-bs-toggle="modal" data-bs-target="#add-coffee-form">
                        + ADD COFFEE
                </button>
                <div class="modal" tabindex="-1" id="add-coffee-form">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">NEW COFFEE</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form th:action="@{'/app/add-coffee'}" method="post">
                                <div class="modal-body">
                                    <label for="coffeeName">NAME</label>
                                    <input type="text" name="name" id="coffeeName" /> <br>
                                    <label for="coffeeImage">IMAGE URL</label>
                                    <input type="text" name="image" id="coffeeImage" /> <br>
                                    <label for="coffeeRecipe">RECIPE:</label>
                                    <textarea type="text" rows="5" name="recipe" id="coffeeRecipe"
                                        class="form-control"></textarea>
                                    <div>
                                        <h4>INGRIDIENTS</h4>
                                        <label for="coffeeBean">Coffee Beans in teaspoons:</label>
                                        <input type="number" name="beans" id="coffeeBeans" th:value="0"><br>
                                        <label for="coffeeSugar">Sugar in teaspoons:</label>
                                        <input type="number" name="sugar" id="coffeeSugar" value="0">
                                        <label for="coffeeChocolate">Chocolate in cubes:</label>
                                        <input type="number" name="chocolate" id="coffeeChocolate" th:value="0"><br>
                                        <label for="coffeeWater">Hot water in ml:</label>
                                        <input type="number" name="water" id="coffeeWater" th:value="0"><br>
                                        <label for="coffeeMilk">Milk in ml :</label>
                                        <input type="number" name="milk" id="coffeeMilk" th:value="0"><br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
                                    <button type="submit" class="btn btn-primary">ADD</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>