<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layouts/main-layout">
    <head th:insert="~{01-fragment-head}"></head>
    <body>
        <header th:insert="~{02-fragment-header}" style="background-color: var(--headerBackground);"></header>
        <main>
            <div layout:fragment="mainContent">
                <table class = 'table'>
                    <thead>
                        <tr>
                            <th>NAME</th>
                            <th>IMAGE</th>
                            <th>TOTAL ORDERS</th>
                        </tr>
                        <tbody>
                            <tr th:each="c: ${coffee}">
                                <td th:text="${c.getName()}"></td>
                                <td>
                                    <img th:src="@{${c.getImage()}}" 
                                    width= "120px">
                                </td>
                                <td th:text="${c.getOrders()}"></td>
                            </tr>
                        </tbody>
                    </thead>
                </table>
            </div>
        </main>
    </body>
</html>